/* Importar la fuente Roboto Slab desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
    font-family: 'Roboto Slab', serif; /* Aplicar la fuente Roboto Slab */
    margin: 0;
    padding: 0;
    background-color: #faf6f6;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 5px;
    text-align: center;
}

.banner-content {
    text-align: center;
}

.banner .logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: -25px 0 -30px;
}

.banner-buttons {
    margin-top: 0px;
}
.button-language {
    display: inline-block;
    margin: 2px;
    padding: 5px 5px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: #0c0c0c;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añadir transiciones */
    border: 1px solid #D4AF37; /* Borde dorado */
}

.button-language:hover {
    background-color: #555554;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.button {
    background-color: #000000; /* Negro profundo */
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #D4AF37; /* Borde dorado */
    font-size: 18px;
}

.button:hover {
    background-color: #D4AF37; /* Dorado */
    color: #000000;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.banner-text h1 {
    margin: 0;
    font-size: 2.5rem;
}

.banner-text h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.banner-text p {
    margin: 5px 0 0;
    font-size: 12px;
    font-weight: 300;
}

.categorias {
    display: flex;
    justify-content: center;
    margin: -5px 0;
    flex-wrap: wrap;
}

.buscador {
    display: flex;
    justify-content: center;
    margin: 2px 0;
}

.buscador input {
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100px;
    height: 5px;
}

.buscador button {
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    background-color: #282727;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buscador button:hover {
    background-color: #555;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.categorias button {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    margin: 8px 2px 0px 2px; /* Cambia solo el margen superior a 20px */
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1;
    max-width: 200px;
}

.categorias button:hover {
    background-color: #202020;
    color: #D4AF37;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para la disposición del catálogo */
.catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.producto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.producto.visible {
    opacity: 1;
    transform: translateY(0);
}

.producto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.producto img:hover {
    transform: scale(1.05);
}

.titulo-producto {
    color: #333;
    font-size: 1.2rem;
    margin: 15px 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.titulo-producto:hover {
    color: #007BFF;
}

.producto p {
    color: #666;
    font-size: 0.9rem;
}

.precio {
    font-size: 1.4rem !important;
    font-weight: bold;
    color: #D4AF37 !important;
    margin-top: 1px;
}

/* Media queries para dispositivos pequeños */
@media (max-width: 768px) {
    .catalogo {
        grid-template-columns: repeat(1, 1fr);
    }

    .categorias {
        flex-direction: row;
    }

    .categorias button {
        max-width: 25%;
    }
}

/* Media queries para pantallas grandes */
@media (min-width: 769px) {
    .catalogo {
        grid-template-columns: repeat(3, 1fr);
    }

    .categorias {
        flex-direction: row;
    }

    .categorias button {
        max-width: 150px;
    }
}

/* Estilos personalizados para ajustar el tamaño de la alerta de SweetAlert2 */
.swal2-small-popup {
    width: 300px !important;
    padding: 15px !important;
}

.swal2-small-title {
    font-size: 18px !important;
    margin-bottom: 10px !important;
}

.swal2-small-content {
    font-size: 14px !important;
}

/* Estilos del carrito */
#carrito {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#carrito h2 {
    margin-top: 0;
}

#lista-carrito {
    list-style-type: none;
    padding: 0;
}

#lista-carrito li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#lista-carrito button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Botón Enviar Pedido */
#btn-pedir {
    width: 100%;
    background-color: #6C757D; /* Gris oscuro elegante */
    color: #FFFFFF;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

#btn-pedir:hover {
    background-color: #495057; /* Un gris ligeramente más oscuro */
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Botón Vaciar Carrito */
#btn-vaciar-carrito {
    width: 100%;
    background-color: #E63946; /* Rojo elegante */
    color: #FFFFFF;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

#btn-vaciar-carrito:hover {
    background-color: #C92A38; /* Un rojo más oscuro */
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Botón Eliminar (al lado de cada producto en el carrito) */
#lista-carrito button {
    background-color: #FFC107; /* Dorado suave */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

#lista-carrito button:hover {
    background-color: #E0A800; /* Dorado más oscuro */
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}



/* Estilos para el botón flotante del carrito */

/* Añadir una animación de inflar y desinflar al botón flotante del carrito */
@keyframes inflarDesinflar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.10); /* Aumentar ligeramente el tamaño */
    }
    100% {
        transform: scale(1); /* Volver al tamaño original */
    }
}

.boton-flotante {
    animation: inflarDesinflar 2s ease-in-out infinite; /* Duración de 2s, repetir infinitamente */
    transition: background-color 0.3s ease; /* Mantener las otras transiciones */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton-flotante:hover {
    background-color: #443f0fa8;
    transform: scale(1.1);
}

.boton-flotante #contador-carrito {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
}

/* Contenedor para los íconos sociales sobre el carrito */
.rrss-icons {
    position: fixed;
    bottom: 85px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 1000;
}

.rrss-icons a {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.rrss-icons a img {
    width: 24px;
    height: 24px;
}

.rrss-icons a:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}

.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-images img {
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: scale(0.8) translateX(100%);
}

.carousel-images img.active {
    opacity: 1;
    transform: scale(1) translateX(0);
    position: relative;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #aa8b27;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.carousel-button.prev {
    left: 4px;
}

.carousel-button.next {
    right: 0;
}

/* Scroll Suave */
html {
    scroll-behavior: smooth;
}
/* Estilos para los iconos de redes sociales */
.rrss-icons {
    position: fixed;
    bottom: 85px; /* Ubicado justo arriba del carrito */
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
}

/* Ocultar iconos de redes cuando se hace scroll */
.rrss-icons.hide {
    opacity: 0;
    visibility: hidden;
}

/* Estilos ajustados para el botón de "Volver al Inicio" */
.volver-inicio {
    position: fixed;
    bottom: 85px; /* Mismo lugar que los iconos de redes sociales */
    right: 20px;
    background-color: #D4AF37;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    width: 60px; /* Ajusta el ancho del botón para que coincida con los iconos de redes */
    height: 60px; /* Ajusta la altura del botón para que coincida con los iconos de redes */
    font-size: 40px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.volver-inicio.show {
    opacity: 1;
    visibility: visible;
}

.volver-inicio:hover {
    background-color: #aa8b27;
    transform: scale(1.1);
}
/* Estilos de la barra de carga */
#barra-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Altura de la barra */
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo tenue */
    z-index: 9999; /* Asegura que esté siempre encima de otros elementos */
}

#barra-carga .carga {
    width: 0;
    height: 100%;
    background-color: #D4AF37; /* Color de la barra de progreso */
    animation: cargar 4s ease-out forwards; /* Animación de la barra */
}

/* Animación de la barra de carga */
@keyframes cargar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
